version: '2'

services:
    web:
        build:
            context: ./images/jira
            args:
                - JIRA_VERSION=${JIRA_VERSION}
                - JAVA_VERSION=8
                - JAVA_UPDATE=192
                - JAVA_BUILD=12
        image: ianharrier/jira:${JIRA_VERSION}
        restart: unless-stopped
        depends_on:
            - db
        ports:
            - ${WEB_PORT}:8080
        environment:
            - PROXY_HOSTNAME=${WEB_PROXY_HOSTNAME}
            - PROXY_PORT=${WEB_PROXY_PORT}
            - PROXY_SCHEME=${WEB_PROXY_SCHEME}
            - JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY}
            - JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY}
            - TIMEZONE=${TIMEZONE}
        volumes:
            - ./volumes/web/data:/var/atlassian/application-data/jira:z
    db:
        image: postgres:9.6-alpine
        restart: unless-stopped
        environment:
            - POSTGRES_DB=${DB_POSTGRES_DB}
            - POSTGRES_USER=${DB_POSTGRES_USER}
            - POSTGRES_PASSWORD=${DB_POSTGRES_PASSWORD}
            - POSTGRES_INITDB_ARGS=--encoding=UNICODE --lc-collate=C --lc-ctype=C
        volumes:
            - ./volumes/db/data:/var/lib/postgresql/data:z
    cron:
        build:
            context: ./images/cron
        image: ianharrier/jira-cron:1.1.1
        restart: unless-stopped
        environment:
            - BACKUP_OPERATION=${BACKUP_OPERATION}
            - BACKUP_CRON_EXP=${BACKUP_CRON_EXP}
            - BACKUP_RETENTION=${BACKUP_RETENTION}
            - HOST_PATH=${PWD}
            - TIMEZONE=${TIMEZONE}
            - POSTGRES_DB=${DB_POSTGRES_DB}
            - POSTGRES_USER=${DB_POSTGRES_USER}
            - POSTGRES_PASSWORD=${DB_POSTGRES_PASSWORD}
        volumes:
            - ./:${PWD}:z
