version: '2'

services:
    web:
        build:
            context: ./images/jira
            args:
                - JIRA_VERSION=${JIRA_VERSION}
                - GOSU_VERSION=1.10
                - JAVA_VERSION=8
                - JAVA_UPDATE=144
                - JAVA_BUILD=01
                - JAVA_SIG=090f390dda5b47b9b721c7dfaa008135
        image: ianharrier/jira:${JIRA_VERSION}
        restart: unless-stopped
        depends_on:
            - db
        ports:
            - ${WEB_PORT}:8080
        environment:
            - PROXY_HOSTNAME=${WEB_PROXY_HOSTNAME}
            - PROXY_PORT=${WEB_PROXY_PORT}
            - PROXY_SCHEME=${WEB_PROXY_SCHEME}
            - JVM_MINIMUM_MEMORY=${JVM_MINIMUM_MEMORY}
            - JVM_MAXIMUM_MEMORY=${JVM_MAXIMUM_MEMORY}
            - TIMEZONE=${TIMEZONE}
        volumes:
            - ./volumes/web/data:/var/atlassian/application-data/jira
    db:
        image: postgres:9.6-alpine
        restart: unless-stopped
        environment:
            - POSTGRES_DB=${DB_POSTGRES_DB}
            - POSTGRES_USER=${DB_POSTGRES_USER}
            - POSTGRES_PASSWORD=${DB_POSTGRES_PASSWORD}
            - POSTGRES_INITDB_ARGS=--encoding=UNICODE --lc-collate=C --lc-ctype=C
        volumes:
            - ./volumes/db/data:/var/lib/postgresql/data
    backup:
        build:
            context: ./images/backup
            args:
                - GLIBC_VERSION=2.25-r0
                - COMPOSE_VERSION=1.15.0
        image: ianharrier/jira-backup:1.0.7
        restart: unless-stopped
        environment:
            - OPERATION=${BACKUP_OPERATION}
            - CRON_EXP=${BACKUP_CRON_EXP}
            - RETENTION=${BACKUP_RETENTION}
            - HOST_PATH=${PWD}
            - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
            - TIMEZONE=${TIMEZONE}
            - POSTGRES_DB=${DB_POSTGRES_DB}
        volumes:
            - ./:${PWD}
            - /var/run/docker.sock:/var/run/docker.sock
